<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actividades Recreativas</title>
    <script src="scripts.js"></script>  
    <style>
        table {
      border-collapse: collapse;
      margin: 0 auto;
    }
    table, th, td {
      border: 1px solid #ccc;
      padding: 8px;
    }
    
    </style>  
</head>
<body>

    <h1>Actividades Recreativas</h1>
    <p>Bienvenido a la web que te mostrará las actividades más interesantes del momento...</p>
    
    <button type="button" id="btn-agregar">Agregar actividad</button>
    <button type="button" id="btn-listado">Ver listado de actividades</button>
    <button type="button" id="btn-estadistica">Estadísticas</button>
    <p id="mensaje"></p>

    <hr>

    <div>
        <h2>Últimas 5 actividades</h2>
        <table id="dispositivos">
            <thead>
                <tr>
                    <th>Inicio</th>
                    <th>Término</th>
                    <th>Comuna</th>
                    <th>Sector</th>
                    <th>Tema</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
                <!-- Fila 1 -->
                <tr>
                    <td>2025-03-28 12:00</td>
                    <td>2025-03-28 14:00</td>
                    <td>Santiago</td>
                    <td>Beauchef 850, terraza</td>
                    <td>Escuela de Boxeo</td>
                    <td><img src="images/box.jpg" alt="Foto 1" class="foto"></td>
                </tr>
                <!-- Fila 2 -->
                <tr>
                    <td>2025-03-29 19:00</td>
                    <td>2025-03-29 20:00</td>
                    <td>Ñuñoa</td>
                    <td>Centro Hipster</td>
                    <td>¿Cómo deshidratar fruta?</td>
                    <td><img src="images/seca.jpg" alt="Foto 2" class="foto"></td>
                </tr>
                <!-- Fila 3 -->
                <tr>
                    <td>2025-04-01 10:00</td>
                    <td>2025-04-01 15:00</td>
                    <td>Pudahuel</td>
                    <td>Plaza Toledo</td>
                    <td>Adopción de Perritos</td>
                    <td><img src="images/perrito.jpg" alt="Foto 3" class="foto"></td>
                </tr>
                <!-- Fila 4 -->
                <tr>
                    <td>2025-04-04 10:00</td>
                    <td>2025-04-04 13:00</td>
                    <td>Santiago Centro</td>
                    <td>Parque Almagro</td>
                    <td>Marcha Liberación Mapache</td>
                    <td><img src="images/mapache.jpg" alt="Foto 4" class="foto"></td>
                </tr>
                <!-- Fila 5 -->
                <tr>
                    <td>2025-04-05 10:00</td>
                    <td>2025-04-06 23:59</td>
                    <td>Estación Central</td>
                    <td>Municipalidad</td>
                    <td>Entrega de Bono</td>
                    <td><img src="images/bono.jpg" alt="Foto 5" class="foto"></td>
                </tr>
            </tbody>
        </table>
    </div>    
</body>
</html>